<a href="#contactadd"><input type="button" class="btn btn-primary" value="Add New Contct"></a>

<table class="table table-bordered">
	<thead>
		<tr> 
			<th>Name</th>
			<th>Contact No</th>
			<th>Address</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in Contacts">
			<td>{{ contact.name }}</td>
			<td><contactNoDesign>{{ contact.contact_no }}</contactNoDesign></td>
			<td>{{ contact.address }}</td>
			<td>{{ contact.email }}</td>
			<td>
				<a href="#contactedit/{{contact.id}}"><i class="glyphicon glyphicon-edit"></i></a>
				<a 	ng-click="delete(contact.id)"><i class="glyphicon glyphicon-remove-sign"></i></a>
			</td>
		</tr>

	</tbody>
</table>