<div class="pull-right">
<a href="#contactadd"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Contact</button></a>
</br>
</br>
</div>

<table class="table table-bordered">
	<thead>
		<tr> 
			<th>Name</th>
			<th>Contact No</th>
			<th>Address</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in Contacts">
			<td>{{ contact.name }}</td>
			<td><contactdesign data="foo"></contactdesign></td>
			<td>{{ contact.address }}</td>
			<td>{{ contact.email }}</td>
			<td>
				<a href="#contactedit/{{contact.id}}" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
				<a 	style="cursor:pointer" ng-click="delete(contact.id)" title="Delete"><i class="glyphicon glyphicon-remove-sign"></i></a>
			</td>
		</tr>

	</tbody>
</table>